<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <form action="/user/register" method="POST">
            <div>
                <label for="">Name</label>
                <input type="text" name="name" id="" placeholder="Employee Name">
            </div>
            <div>
                <label for="">Email</label>
                <input type="text" name="email" id="" placeholder="Employee Email">
            </div>
            <div>
                <label for="">Password </label>
                <input type="password" name="password" id="" placeholder="Password">
            </div>
            <div>
                <label for="">Department</label>
                <input type="text" name="department" id="" placeholder="Department">
            </div>

            <button type="submit">Register Employee</button>
        </form>
    </main>
</body>
</html>